#loadingImage {
  width: 90px;
  height: 90px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -45px;
  margin-top: -45px;
  -webkit-animation: sk-rotateplane 2.5s infinite ease-in-out;
  animation: sk-rotateplane 2.5s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(360deg) }
  100% { -webkit-transform: perspective(120px) rotateY(360deg)  rotateX(360deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(0deg) rotateY(-359.8deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(-359.8deg)
  } 100% {
    transform: perspective(120px) rotateX(-360.2deg) rotateY(-359.8deg);
    -webkit-transform: perspective(120px) rotateX(-360.2deg) rotateY(-359.8deg);
  }
}
