<section class="paymentSection">
    <h1>{{'buyT' | translate}}</h1>
    <form (ngSubmit)="pay()" #heroForm="ngForm">
      <div class="form-group">
        <label for="name">{{'name' | translate}}</label>
        <input type="text" class="form-control" id="name"
               required
               [(ngModel)]="model.name" name="name"
               #name="ngModel">
        <div [hidden]="name.valid || name.pristine"
             class="alert alert-danger">
          {{'nameReq' | translate}}
        </div>
      </div>

      <div class="form-group">
        <label for="surname">{{'surname' | translate}}</label>
        <input type="text" class="form-control" id="surname"
               required
               [(ngModel)]="model.surname" name="surname"
               #surname="ngModel">
        <div [hidden]="surname.valid || surname.pristine"
             class="alert alert-danger">
          {{'surnameReq' | translate}}
        </div>
      </div>

      <div class="form-group">
        <label for="cc">{{'cc' | translate}}</label>
        <select class="form-control" id="cc"
                required
                [(ngModel)]="model.cc" name="cc"
                #cc="ngModel">
          <option *ngFor="let card of creditCards" [value]="card">{{card}}</option>
        </select>
        <div [hidden]="cc.valid || cc.pristine" class="alert alert-danger">
          {{'ccReq' | translate}}
        </div>
      </div>

      <div class="form-group">
        <label for="ccNumber">{{'ccN' | translate}}</label>
        <input type="number" pattern="[0-9]{15}" class="form-control" id="ccNumber"
               required
               [(ngModel)]="model.ccNumber" name="ccNumber"
               #ccNumber="ngModel">
        <div [hidden]="ccNumber.valid || ccNumber.pristine"
             class="alert alert-danger">
          {{'ccNReq' | translate}}
        </div>
      </div>

      <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">{{'submit' | translate}}</button>
    </form>
</section>
