.btn-language-group {
  position: fixed;
  display: block;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50%;
  width: 80%;
  background-color: transparent;
  font-family: sans;

  & h2 {
    background-color: rgba(255, 255, 255, 0.8);
    font-size: 1.5em;
    padding: 5%;
    border-radius: 0.5em;
    margin-bottom: 5%;
  }

  & .langButtonSection {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5em;
    padding: 3%;
  }

  & button {
    font-size: 1em;
    display: block;
    width: 70%;
    text-align: left;
    background-repeat: no-repeat;
    background-size: 2em;
    padding-left: 15%;
    //margin-top: 3%;
    background-position: left;
    height: 3em;
    margin-bottom: 3%;

  }
}
