<div class="btn-language-group">
  <h2>{{'select language' | translate}}</h2>
  <section class="langButtonSection">
    <button *ngFor="let lang of supportedLanguages" (click)="selectLang(lang.value)"
    [style.background-image]="'url(assets/img/' + lang.display + '.png)'">
      {{ lang.display }}
    </button>
  </section>
</div>
