#page404 {
  height: 100%;
  width: 100%;
  background-color: #fff7ec;
  position: relative;

  & img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
  }

  & p {
    font-family: poetsenOne,sans-serif;
    text-align: center;
    font-size: 3em;
    padding: 5%;
    width: 90%;
    z-index: 1000;
    position: absolute;

    &.upper {
      top: 5%;
    }

    &.lower {
      bottom: 5%;
      font-size: 2em;

    }
  }
}
