<ng-container *ngIf="foundPortrait; else p404">
  <div id="loading" [ngClass]="{'showLoad': showLoading==true}">
    <p>
      {{'waitMsg' | translate}}
    </p>
    <img src="assets/img/loadLang.png" alt="Loading language" />
  </div>
  <div id="container">
    <a routerLink="/image/{{id}}">
      <div id="imgDiv" [style.background-image]="'url(' + imgURL + ')'" >

      </div>
    </a>
    <section class="portrait">
      <section class="portraitTitle">
        <h1>{{portraitName}}</h1>
        <h2>{{portraitArtist}}</h2>
        <h2>~</h2>
        <h2>{{portraitYear}}</h2>
        <button (click)="speak()" id="speakButton" name="start text to speach"
                [style.background-image]="'url(assets/img/' + speakIcon + ')'">
        </button>
        <button (click)="switchLangVis()" id="langButton" name="change language"
                [style.background-image]="'url(assets/img/translate.png)'">
        </button>
      </section>
      <section class="portraitDescription">
        <article>
          {{portraitDesc}}
        </article>
      </section>
      <app-translate (switchLang)="switchLangVis()"
                      [style.opacity]="showLang ? '1' : '0'"
                      [style.visibility]="showLang ? 'visible' : 'hidden'">
      </app-translate>
      <app-rates [portraitID]="id"></app-rates>
    </section>
  </div>
</ng-container>

<ng-template #p404>
  <app-page404></app-page404>
</ng-template>
