div#loading {
  height: 100%;
  width: 100%;
  z-index: 10000;
  position: fixed;
  top: 0px;
  display: none;
  background-color: rgba(0, 0, 0, 0.7);

  & p {
    text-align: center;
    margin-top: 45%;
    font-size: 2em;
    color: white;
    font-family: TeXserif, serif;
    font-weight: bold;
  }

  & img {
    width: 50%;
    height: auto;
    margin-top: 2.5em;
    margin-left: 50%;
    transform: translateX(-50%);
  }

  &.showLoad {
    display: block !important;
  }
}

div#container {
  width: 100%;
  height: 100%;
  & div#imgDiv {
    width: 100%;
    height: 50%;
    position: fixed;
    background-position: top;
    background-size: cover;
    background-repeat: no-repeat;

  }
  & .portrait {
    font-family: TeXserif;
    position: absolute;
    top: 40%;
    background-color: white;
    padding: 5%;
    width: 90%;
    & .portraitTitle{
      font-style: italic;
      padding-bottom: 1.2em;
      width: 80%;
      //position: relative;
      & h1 {
        font-size: 2em;
        padding-bottom: 0.2em;
      }
      & h2 {
        display: inline-block;
        font-size: 1em;
        color: #555;
      }

      & button {
        position: absolute;
        margin: 0;
        padding: 0;
        right: 5%;
        width: 10%;
        height: 2em;
        background-color: transparent;
        margin: 0;
        background-position: center;
        background-repeat: no-repeat;

        &#speakButton {
          top: .5em;
        }

        &#langButton {
          top: 3.3em;
        }
      }
    }
    & .portraitDescription {
      border-top: 1px solid black;
      border-bottom: 1px solid black;
      padding-top: 1.2em;
      padding-bottom: 1.2em;
    }
  }
}
