#showImageSection {
  width: 100%;
  height: 100%;
  position: relative;
  background-color: #000;
  line-height: 100%;

  & img {
    position: absolute;
    max-width: 100%;
    max-height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  & a {
    position: absolute;
    top: .8em;
    left: .6em;
    background-image: url("../../assets/img/back-arrow.png");
    background-size: cover;
    width: 2em;
    height: 2em;
  }
}
