#ratingSection {
  text-align: center;
  & h1 {
    padding-top: 10px;
    font-size: 1em;
    color: #555;
  }
}

.rating {
  border: none;
  margin: .3em auto;
  &>label {
    color: #ddd;
    &:before {
      margin: 3.5px;
      font-size: 2em;
      display: inline-block;
      content: "★";
    }
    &.rated {
      color: #FFd200;
    }
  }
}
