<script type="text/javascript" src="node_modules/chart.js/src/chart.js"></script>

<section id="ratingSection">
  <div *ngIf="rated; else notRatedBlock">
    <h1>{{'rate title' | translate:[portraitRate]}}</h1>
  </div>
  <ng-template #notRatedBlock>
    <h1>{{'no-rate title' | translate}}</h1>
  </ng-template>
  <fieldset class="rating">
    <ng-container *ngFor="let number of [1,2,3,4,5]">
      <label (click)="rate(number)" id="start{{number}}" [ngClass]="{'rated': number<=portraitRate}"></label>
    </ng-container>
  </fieldset>

  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [chartType]="barChartType"
            [colors]="chartColors">
    </canvas>
  </div>
</section>
