/* You can add global styles to this file, and also import other style files */
@import "./reset.scss";

@font-face {
  font-family: TeXserif;
  src: url("./assets/font/texgyrepagella-regular.otf");
}

@font-face {
  font-family: poetsenOne;
  src: url("./assets/font/PoetsenOne-Regular.ttf");
}
