#qrticket {
  width: 100%;
  height: 100%;
  & #qr {
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60%;
  }

  & h2 {
    padding: 5%;
    font-size: 2em;
    font-family: TeXserif, serif;
    text-align: center;
  }
}
