#buyTicketSection {
  width: 100%;
  height: 100%;

  background-image: url("../../assets/img/buyTicket.png");
  background-size: auto 100%;
  background-position: center;
  background-color: rgba(255,255,255,0.7);
  background-blend-mode: lighten;

  font-family: TeXserif, sans;
  font-weight: bold;

  & .advertise {
    text-align: center;
    padding: 5%;
    padding-top: 15%;
  }

  & h1 {
    font-size: 2em;
    margin-bottom: 5%;

    &.museumName {
      font-size: 3.5em;
    }
  }

  & h2 {
    margin-top: 10%;
    font-size: 1em;

    &.price {
      font-size: 1.8em;
      & span.oldPrice {
        display: block;
        text-decoration: line-through;
      }
    }
  }

  & a {
    display: block;
    color: black;
    text-decoration: none;
    margin-top: 10%;
    max-width: 40%;
    font-size: 1.5em;
    padding: 3%;
    border: 2px solid black;
    background-color: rgba(150,150,150,0.5);
    border-radius: .7em;
    margin-left: 50%;
    transform: translateX(-50%);
  }

}
