<section id="buyTicketSection">
  <section class="advertise">
    <h1>{{'welcome' | translate}}</h1>
    <h1 class="museumName">Louvre<br />Museum</h1>
    <h2>{{'buy ticket' | translate}}</h2>
    <h2 class="price"><span class="oldPrice">30€</span>22.50€ !</h2>
    <a routerLink="/payment">{{'buy' | translate}}</a>
  </section>
</section>
