#desktopSection {
  width: 100%;
  height: 100%;
  background-image: url("../../assets/img/desktop.png");
  background-position: center;
  background-size: cover;

  & a {
    position: absolute;
    top: 3%;
    left: 2%;
    width: 7.1em;
    height: 2.1em;
    border-radius: .5em;
    background-size: cover;

    &#appStore {
      background-image: url("../../assets/img/appstore.png");
    }

    &#googlePlay {
      background-image: url("../../assets/img/googleplay.png");
      margin-left: 7.6em;
    }
  }
}
